@import '_null';
@import '_variables';

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
body {
  color: $black;
  font-family: $ubuntu;
  font-size: 22px;
  font-weight: 300;
  background-color: $light;
}

///////////////
@import '_main';
@import '_table';
@import '_voice';
